* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  padding: 0;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
header {
   padding: 20px 0;
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: flex-start;
   align-items: flex-start;
}
section {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid black;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}

input, textarea, button {
  padding: 10px;
}
footer {
  padding: 20px 0;
  border-top: 1px solid black;
}
